.logo-part {
  text-decoration: none;
}
.login-aria {
  font-size: 1rem !important;
}
.sing-Out {
  cursor: pointer;
  font-size: 1rem !important;
}
.account-part {
  text-decoration: none !important;
}
.account-part:hover {
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  /* CSS rules or styles for small screens */

  .login-aria {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .my-account-aria {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}

/* Styles for screens with a width between 321px and 768px */
@media screen and (min-width: 321px) and (max-width: 768px) {
  /* CSS rules or styles for medium screens */

  .login-aria {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .my-account-aria {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

/* Styles for screens with a width greater than 768px */
@media screen and (min-width: 769px) {
  /* CSS rules or styles for large screens */

  .login-aria {
    position: absolute;
    top: 0px;
    right: 15px;
  }
  .my-account-aria {
    position: absolute;
    top: 0px;
    right: 20px;
  }
  .my-cart-aria {
    position: absolute;
    top: 0px;
    right: 150px;
  }
  .offCanvas-navbar {
    display: none;
  }
}
